{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выбор врача</title>
    <link type="text/css" href="{% static 'main/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
<h1>Шаг 2 из 4: Выберите доктора</h1>

<!--Скрипт на языке JS для генерации таблицы динамической ширины
в зависимости от кол-ва врачей данной специализации в БД -->
<script>
    window.addEventListener('DOMContentLoaded', adjustTableWidth);

    function adjustTableWidth() {
        var table = document.querySelector('table');
        var cellCount = table.getElementsByTagName('td').length;

        if (cellCount === 1) {
            table.style.width = '20%';
        } else if (cellCount === 2) {
            table.style.width = '40%';
        } else if (cellCount === 3) {
            table.style.width = '60%';
        }
    }
</script>


<table>
  <tbody>
    {% for row in rows %}
      <tr>
        {% for doctor in row %}
          <td><button>
              <a href="{% url 'calendar' doctor.slug %}">{{ doctor }} </a>
          </button></td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>


</body>
</html>