{% extends 'main/base.html' %}

{% block content %}
<h2 class="text-center">Шаг 2 из 4: Выберите доктора</h2>

<!--Скрипт на языке JS для генерации таблицы динамической ширины
в зависимости от кол-ва врачей данной специализации в БД -->
<script>
    window.addEventListener('DOMContentLoaded', adjustTableWidth);

    function adjustTableWidth() {
        var table = document.querySelector('table');
        var cellCount = table.getElementsByTagName('td').length;

        if (cellCount === 1) {
            table.style.width = '20%';
        } else if (cellCount === 2) {
            table.style.width = '40%';
        } else if (cellCount === 3) {
            table.style.width = '60%';
        }
    }
</script>


<table class="table table-my table-bordered">
  <tbody>
    {% for row in rows %}
      <tr>
        {% for doctor in row %}
          <td>
              <a href="{% url 'calendar' %}?doctor_slug={{ doctor.slug }}">
                  <button type="button" class="btn btn-outline-primary">
                      {{ doctor }}
                  </button>
              </a>
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}