{% extends 'main/base.html' %}
{% load user_tags %}

{% block content %}

    <h2 class="text-center">Шаг 3 из 4: Выберите время</h2>

    <table class="table table-bordered">
        <tbody>
        {% for row in rows %}
            <tr>
                {% for i in row %}
                    {% if i|is_not_string and i|is_not_list %}
                        <td class="text-center">
                            <a href="{% url 'customer_data' %}?visit_datetime={{ i.get_visit_datetime }}&doctor={{ doct_slug }}">
                                <button type="button" class="btn btn-outline-primary">
                                    {{ i }}
                                </button>
                            </a>
                        </td>
                    {% elif 'Недоступно' in i %}
                        <td class="text-center">
                            <div class="alert alert-my alert-secondary text-center" role="alert">
                                Недоступно
                            </div>
                        </td>
                    {% else %}
                        <td>
                            <div class="alert alert-my alert-secondary text-center" role="alert">
                                {% for elem in i %}
                                    {{ elem }} <br>
                                {% endfor %}
                            </div>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}